// Place all the styles related to the MetaRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chosen-choices {
  border-radius: 4px;
}

#meta_request_header {
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.db-optgroup {
  font-size: 13px;
  padding-bottom: 10px;
}

.db-option {
  font-size: 13px;
  padding-top: 4px;
  padding-left: 15px;
  margin-left: -12px;
  margin-right: -12px;
}

#cluster_select_section {
  padding-top: 80px;
}

.centered-label {
  text-align: center;
  padding-bottom: 5px;
}

#db_select_section {
  overflow: auto;
}

#db_select_section select {
  height: 250px;
}

.created-at-column {
  width: 175px;
}

.invalid-action {
  color: lightgray !important;
}

.invalid-action:hover {
  background-color: white !important;
  cursor: default !important;
}

.dropdown-menu > li > .enabled {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu > li > .enabled:hover,
.dropdown-menu > li > .enabled:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
  cursor: pointer;
}

.dropdown-menu > li > .disabled {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: lightgray;
  white-space: nowrap;
}

#bulk_action_menu {
  float: right;
}
